@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body{
  background: #10141E;
  font-family: 'Outfit';
}
.test{
  width: 30px;
  height: 30px;
}



